In [1]:
import pandas as pd
df = pd.read_csv(r"C:\Users\tagir\Downloads\data.csv")

In [10]:
# 2
df.loc[df['days_employed'] < 0, 'days_employed'] *= -1 
df['days_employed'] = df['days_employed'].fillna(value = df['days_employed'].median())
df.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,2194.220567,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

In [17]:
# 3
df = df.fillna(0)
df['total_income'] = df['total_income'].astype('int')

In [18]:
# 4

df['education'] = df['education'].str.capitalize()
"""Причины появления дубликатов:
Сбой, человеческий фактор, плохое составление таблицы"""

'Причины появления дубликатов:\nСбой, человеческий фактор, плохое составление таблицы'

In [19]:
# 5 

df1 = pd.DataFrame(data = df, columns = ['education_id', 'education'])
df2 = pd.DataFrame(data = df, columns = ['family_status_id', 'family_status'])
df = df.drop(['education', 'family_status'], axis=1)

In [20]:
# 6 
df
df['total_income_category'] = ''
n = 0
while n < 21525:
    if (df.loc[n, 'total_income'] < 30000).any():
        df.loc[n, 'total_income_category'] = 'E'
    elif ((df.loc[n, 'total_income'] < 50000) & (df.loc[n, 'total_income'] > 30000)).any():
        df.loc[n, 'total_income_category'] = 'D'
    elif ((df.loc[n, 'total_income'] < 200000) & (df.loc[n, 'total_income'] > 50000)).all(): 
        df.loc[n, 'total_income_category'] = 'C'
    elif ((df.loc[n, 'total_income'] < 1000000) & (df.loc[n, 'total_income'] > 200000)).all():   
        df.loc[n, 'total_income_category'] = 'B'
    elif (df.loc[n, 'total_income'] > 1000000).all():      
        df.loc[n, 'total_income_category'] = 'A'
    n += 1
# 00:47. У меня сегодня игра, а я сделал это.УРРАААА

In [27]:
# 7
def purp_cat(dff):
    if 'автомобил' in dff:
        return 'операции с автомобилем'
    elif 'жиль' in dff:
        return 'операции с недвижимостью'
    elif 'недвиж' in dff:
        return 'операции с недвижимостью'
    elif 'свадьб' in dff: 
        return 'проведение свадьбы'
    elif 'образов' in dff:   
        return 'получение образования'
        
   
df_series = df['purpose'].squeeze()
df['purp_cat'] = df_series.apply(purp_cat)

df

,children,days_employed,dob_years,education_id,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purp_cat
0,1,8437.673028,42,0,0,F,сотрудник,0,253875,покупка жилья,B,операции с недвижимостью
1,1,4024.803754,36,1,0,F,сотрудник,0,112080,приобретение автомобиля,C,операции с автомобилем
2,0,5623.422610,33,1,0,M,сотрудник,0,145885,покупка жилья,C,операции с недвижимостью
3,3,4124.747207,32,1,0,M,сотрудник,0,267628,дополнительное образование,B,получение образования
4,0,340266.072047,53,1,1,F,пенсионер,0,158616,сыграть свадьбу,C,проведение свадьбы
...,...,...,...,...,...,...,...,...,...,...,...,...
21520,1,4529.316663,43,1,1,F,компаньон,0,224791,операции с жильем,B,операции с недвижимостью
21521,0,343937.404131,67,1,0,F,пенсионер,0,155999,сделка с автомобилем,C,операции с автомобилем
21522,1,2113.346888,38,1,1,M,сотрудник,1,89672,недвижимость,C,операции с недвижимостью
21523,3,3112.481705,38,1,0,M,сотрудник,1,244093,на покупку своего автомобиля,B,операции с автомобилем
21524,2,1984.507589,40,1,0,F,сотрудник,0,82047,на покупку автомобиля,C,операции с автомобилем